<% provide(:title, 'Deep End') %>
<div class="container">
  <h1>The Deep End</h1>

  <h2>
    Experienced Swimmers Start Here
  </h2>

  <div class="text_bg">
    <h3>
    What should I do for a workout?
    </h3>
    <p>I like to go for long, uninterrupted swims. But the most effective way to train is to do high intensity interval sets, in which you swim hard for short distances and rest in between.</p>
    <p><%= link_to "Swim Plan", 'http://www.swimplan.com', class: 'text_link' %> is a great resource that gives you customized daily workouts based on your ability and desired workout length.</p>
    <p>If you're serious about improving as a swimmer, you should dedicate some time each week to drills designed to refine your technique. You can easily find drills on the internet, and the <%= link_to "US Masters Swimming", 'http://www.usms.org', class: 'text_link' %> website has some <%= link_to "great drills", 'http://www.usms.org/articles/articlesearch.php?CategoryID%5B%5D=5', class: 'text_link' %>. I'd recommend bookmarking usms.org, as it is one of the best swimming resources on the internet.</p>

    <h3>
      What should I buy?
    </h3>
    <h4>Suit</h4>
    <p>First, you'll need a suit. I prefer Speedo and Tyr brands, although the most important thing is that the suit fits comfortably (snug, but not digging into your skin).</p>
      <ul>
        <li>Ladies: The <%= link_to "Speedo Endurance", 'http://amzn.com/B000YM9MJO', class: 'text_link' %> is the most popular women's suit. This would be a great place to start if you're not sure what suit to buy.</li>
        <li>Men: Drag suits offer good range of motion with a little less 'squeezing'. My current favorite is the <%= link_to "Tyr Mesh Drag Suit", 'http://amzn.com/B000H37OQS', class: 'text_link' %>. The Speedo brand version is just as good.</li>
        <li>Men: The <%= link_to 'Speedo Endurance', 'http://amzn.com/B000YZG7T4', class: 'text_link' %> is great and it comes in brief, square-leg, and jammer (knee-length) cuts.</li>
      </ul>
    <h4>Goggles</h4>
    <p>If you have a swim shop in your area (they're more common than you might think), I recommend visiting to try on several different pairs.</p>
      <ul>
        <li><%= link_to 'Speedo Vanquisher Goggles', 'http://amzn.com/B000F6C6LU', class: 'text_link' %> are my favorite. The Vanquishers come with several different nose pieces that you can switch out to fit your face. I have a clear pair for indoor swimming and a polarized pair for outdoor swimming. If you're just going to get one pair, go with something tinted.</li>
        <li><%= link_to 'Swedish Goggles', 'http://amzn.com/B003VS2RJ0', class: 'text_link' %> are a cheaper option that work well for some people. They come unassembled, so you can customize them to fit you exactly. When you get the fit right, they are suprisingly comfortable.</li>
      </ul>
    <h4>Caps</h4>
      <p>Many swimmers choose not to wear a cap, but for swimmers with longer hair, a cap is quite important.</p>
        <ul>
          <li><%= link_to 'Silicon Caps', 'http://amzn.com/B000F6E2JE', class: 'text_link' %> cost a little more up front but last much longer than the latex caps.</li>
          <li>If you have long hair, a <%= link_to 'Textured Cap', 'http://amzn.com/B001M5TWJW', class: 'text_link'%> is easier to remove without pulling your hair.</li>
        </ul>


    <h3>
    What about open water swimming?
    </h3>
    <p>Watch out for sharks. And try not to get pollution on you. More coming.</p>

  </div>

</div>