<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @workout.distance %>
</p>

<p>
  <strong>Units:</strong>
  <%= @workout.units %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workout.created_at.strftime("%d %b. %Y") %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout), class: "btn btn-default" %> |
<%= link_to 'Back', workouts_path, class: "btn btn-default" %> | 

<%= link_to 'Home', root_path, class: "btn btn-default" %>

</div>