<%= form_for(@not_workout) do |f| %>
  <% if @not_workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@not_workout.errors.count, "error") %> prohibited this not_workout from being saved:</h2>

      <ul>
      <% @not_workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="field">
    <%= f.label :units %><br>
    <%= f.text_field :units %>
  </div>
  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
