<h1>Listing not_workouts</h1>

<table>
  <thead>
    <tr>
      <th>Distance</th>
      <th>Units</th>
      <th>References</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @not_workouts.each do |not_workout| %>
      <tr>
        <td><%= not_workout.distance %></td>
        <td><%= not_workout.units %></td>
        <td><%= not_workout.references %></td>
        <td><%= link_to 'Show', not_workout %></td>
        <td><%= link_to 'Edit', edit_not_workout_path(not_workout) %></td>
        <td><%= link_to 'Destroy', not_workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Not workout', new_not_workout_path %>
