<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @not_workout.distance %>
</p>

<p>
  <strong>Units:</strong>
  <%= @not_workout.units %>
</p>

<p>
  <strong>References:</strong>
  <%= @not_workout.references %>
</p>

<%= link_to 'Edit', edit_not_workout_path(@not_workout) %> |
<%= link_to 'Back', not_workouts_path %>
